.cell {
  background-color: white;
  width: 60px;
  height: 60px;
  font-size: 36px;
  border: 1px solid black;
  padding: 0;
  text-align: center;
}

.filled_cell {
  background-color: rgb(194, 194, 194);
  width: 60px;
  height: 60px;
  font-size: 36px;
  border: 1px solid black;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.bad_cell {
  animation: redborder;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes redborder {
  from {background-color: white;}
  to {background-color: red;}
}